In [3]:
import os, sklearn, math
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
import matplotlib.pyplot as plt
from joblib import dump, load

tf.random.set_seed(42)

data = '231114_0033_4kPa_5V_2line_Data'
dataname = data+'_B9'
filename = 'myData/'+data+'.csv'
SD1 = pd.read_csv(filename)
SD1=SD1.iloc[:,:28]
SensorData1 = SD1
SD1.describe()
SDreal = SD1
SDreal.describe()

,Sx00,Sx01,Sx02,Sx03,Sx04,Sx05,Sx06,Sx07,Sx10,Sx11,...,Sx26,Sx27,Sx30,Sx31,Sx32,Sx33,Force,z,theta,r
count,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,...,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000,114354.000000
mean,42.855263,43.416334,49.704300,44.089214,48.230228,60.462222,55.373545,46.998844,58.673569,54.800426,...,44.589455,52.552931,51.135987,52.070160,51.070722,42.798061,35.631907,77.999161,169.978138,2.799629
std,1.720371,2.301961,1.639777,2.036360,1.927641,2.969197,2.430842,2.347178,2.093541,1.783236,...,2.664938,3.248250,2.689029,2.097507,1.986860,2.118409,25.086784,46.123852,103.781203,1.833102
min,32.230000,33.300000,39.450000,33.540000,36.060000,38.630000,40.970000,31.630000,44.730000,38.370000,...,35.720000,43.980000,40.640000,37.530000,37.810000,32.090000,-543.730000,2.000000,0.000000,0.000000
25%,41.760000,42.000000,48.710000,42.840000,47.160000,59.292500,54.320000,45.600000,57.530000,53.960000,...,43.060000,50.620000,49.510000,50.960000,49.880000,41.490000,14.760000,42.000000,80.000000,0.800000
50%,42.760000,43.210000,49.790000,44.050000,48.440000,61.250000,55.550000,46.740000,58.460000,54.930000,...,44.210000,51.930000,50.780000,52.110000,51.080000,42.750000,34.200000,82.000000,160.000000,2.400000
75%,43.830000,44.470000,50.750000,45.230000,49.470000,62.290000,56.780000,47.980000,59.450000,55.840000,...,45.430000,53.410000,52.190000,53.220000,52.280000,44.020000,57.707500,114.000000,260.000000,4.000000
max,51.400000,56.090000,60.670000,53.710000,58.510000,67.030000,67.930000,59.380000,73.460000,64.280000,...,60.920000,67.660000,66.910000,63.480000,60.630000,52.990000,98.310000,154.000000,340.000000,5.600000

In [4]:
# SDreal 값이 999이거나 100이상인 이상치 제거
SDreal = SDreal[~(SDreal == 999).any(axis=1)]
SDreal = SDreal[~(SDreal == 255).any(axis=1)]
SDreal = SDreal[~(SDreal == 4).any(axis=1)]

# SDreal에서 결측값 제거
SDreal = SDreal[~SDreal.isna().any(axis=1)]

# 'Force', 'theta', 'z', 'r' 열을 제외한 열에서 100 이상의 값을 제거
cols_to_exclude = ["Force", "theta", "z", "r"]
cols_to_check = [col for col in SDreal.columns if col not in cols_to_exclude]

SDreal = SDreal[~((SDreal < 0) & (SDreal.columns == "Force")).any(axis=1)]
SDreal = SDreal[~((SDreal >= 10000) & (SDreal.columns == "Force")).any(axis=1)]


#SDreal = SDreal[SDreal["r"] >= 0.8*1]
SDreal = SDreal[SDreal["z"] <= 160]
SDreal = SDreal[SDreal["z"] >= 0]

import numpy as np
toRad = np.pi/180.0
SDreal['cos']=np.cos(SDreal['theta']*toRad)
SDreal['sin']=np.sin(SDreal['theta']*toRad)
SDreal.describe()

,Sx00,Sx01,Sx02,Sx03,Sx04,Sx05,Sx06,Sx07,Sx10,Sx11,...,Sx30,Sx31,Sx32,Sx33,Force,z,theta,r,cos,sin
count,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.00000,99820.000000,...,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,99820.000000,9.982000e+04
mean,42.836636,43.379291,49.691405,44.073934,48.220744,60.486009,55.370593,46.970769,58.65665,54.796995,...,51.100864,52.059837,51.055972,42.763964,32.493168,77.880264,169.777600,2.630463,0.000128,1.372103e-03
std,1.710411,2.271953,1.627334,2.013317,1.882738,2.899138,2.391400,2.317261,2.04911,1.747111,...,2.650983,2.060209,1.955305,2.078023,23.347603,46.037847,103.771275,1.899721,0.707279,7.069407e-01
min,32.230000,33.300000,39.590000,33.540000,36.060000,38.630000,40.970000,31.630000,45.09000,38.550000,...,40.640000,37.530000,38.690000,32.090000,0.000000,2.000000,0.000000,0.000000,-1.000000,-9.848078e-01
25%,41.740000,41.980000,48.700000,42.830000,47.160000,59.330000,54.320000,45.590000,57.53000,53.950000,...,49.490000,50.950000,49.870000,41.470000,13.660000,34.000000,80.000000,0.800000,-0.766044,-6.427876e-01
50%,42.740000,43.180000,49.780000,44.040000,48.420000,61.240000,55.550000,46.720000,58.45000,54.920000,...,50.760000,52.100000,51.070000,42.730000,30.270000,74.000000,160.000000,2.400000,-0.173648,1.224647e-16
75%,43.810000,44.420000,50.740000,45.210000,49.440000,62.270000,56.760000,47.950000,59.43000,55.830000,...,52.150000,53.210000,52.260000,43.990000,52.530000,114.000000,260.000000,4.800000,0.766044,6.427876e-01
max,51.400000,56.090000,60.670000,53.710000,57.110000,67.030000,67.930000,59.380000,73.46000,64.280000,...,66.910000,63.480000,60.630000,52.990000,93.610000,154.000000,340.000000,5.600000,1.000000,9.848078e-01

In [6]:
# Filtering the rows where Force is 0
force_zero_data = SDreal[SDreal['Force'] == 0]

# Calculating the mean values for each sensor when Force is 0
sensor_columns = SDreal.columns[SDreal.columns.str.startswith('Sx')]
mean_values = force_zero_data[sensor_columns].mean()

# Subtracting mean values from each sensor reading, squaring, and summing across rows
squared_differences = (SDreal[sensor_columns] - mean_values) ** 2
SDreal['Root_Sum_Square'] = squared_differences.sum(axis=1) ** 0.5

# Display the first few rows of the updated data
SDreal.head()

,Sx00,Sx01,Sx02,Sx03,Sx04,Sx05,Sx06,Sx07,Sx10,Sx11,...,Sx31,Sx32,Sx33,Force,z,theta,r,cos,sin,Root_Sum_Square
0,39.40,40.99,46.63,41.00,46.10,57.38,54.71,46.88,57.08,53.29,...,48.58,47.79,41.34,0.0,2.0,0.0,0.0,1.0,0.0,12.214429
1,39.83,41.16,47.02,40.50,46.42,57.31,55.26,46.90,57.40,53.41,...,49.15,47.82,41.62,0.0,2.0,0.0,0.0,1.0,0.0,11.337594
2,40.69,40.97,46.85,40.75,46.18,57.93,55.22,47.42,57.00,53.34,...,49.96,48.02,42.02,0.0,2.0,0.0,0.0,1.0,0.0,10.895679
3,41.08,40.47,47.04,40.63,45.99,58.27,55.51,47.18,57.00,53.45,...,50.63,48.51,42.18,0.0,2.0,0.0,0.0,1.0,0.0,10.369773
4,41.06,40.06,47.20,40.85,45.99,58.39,55.59,47.48,56.66,53.88,...,50.19,48.43,42.15,0.0,2.0,0.0,0.0,1.0,0.0,10.743099